@import "components/header.css";
@import "components/KanbanBoard.css";
@import "components/Modal.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


:root{
    --main: #1dd1a1;
    --second: #e5e8eb;
    --third: #ffffff;
    --yellow: #feca57;
    --blue-light: #48dbfb;

    --black-light-main: rgba(47,53,66,0.4);
    --black-light-second: rgba(47,53,66,0.07);

    

    --f-medium: 2.5rem;
    --f-medium-2: 1.8rem;
    --f-small-first: 1.2rem;
}

body {
    margin: 0;
    
  }

 html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}